<div class="container" id="form">
    <div>Записаться на ремонт</div>
    <div>Заполните форму, и наш менеджер свяжется с вами в ближайшее время</div>
    <form [formGroup]="requestForm" (submit)="onSubmit(requestForm)">
        <div>
            <input
                type="text"
                formControlName="userPhone"
                required
                placeholder="Номер телефона*"
                prefix="+7"
                mask="(000)000-00-00"
            />
            <div class="tip">Введите свой номер телефона без "7"</div>
        </div>
        <div>
            <input type="text" formControlName="userName" placeholder="Имя*" />
        </div>
        <div>
            <input
                type="text"
                formControlName="userCarBrand"
                placeholder="Марка машины*"
            />
        </div>
        <div>
            <input
                type="text"
                formControlName="userCommentary"
                placeholder="Тип ремонта"
            />
        </div>
        <button type="submit" [disabled]="requestForm.invalid">
            Оставить заявку
        </button>

        <div class="notification" *ngIf="completeForm">
            Заявка отправлена
        </div>
    </form>
</div>
