<div class="container">
    <span id="title">Контакты</span>
    <div class="content">
        <app-form></app-form>
        <div class="information">
            <div class="contacts">
                <div>
                    <div class="bold">Номера телефонов:</div>
                    <div class="icon">
                        <svg-icon
                            src="../../../assets/icons/phone.svg"
                            [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                        ></svg-icon>
                        <span> +7 (343) 361-52-26 </span>
                    </div>
                    <div class="icon">
                        <svg-icon
                            src="../../../assets/icons/phone.svg"
                            [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                        ></svg-icon>
                        <span> +7 (922) 181-52-26 </span>
                    </div>
                </div>
                <div>
                    <div class="bold">Электронный адрес:</div>
                    <div class="icon">
                        <svg-icon
                            src="../../../assets/icons/mail.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"
                        ></svg-icon>
                        <span> avtohelp96@bk.ru </span>
                    </div>
                </div>
            </div>
            <div class="adress">
                <div class="bold">Адрес:</div>
                <div>
                    Нас отличает удобное расположение (наш автосервис
                    располагается вблизи улицы Репина, по которой проходит одна
                    из ключевых городских дорог, поэтому клиенту не придется нас
                    долго искать).
                </div>
            </div>
            <div class="icon">
                <svg-icon src="../../../assets/icons/map-pin.svg"></svg-icon>
                <span> г. Екатеринбург, ул. Репина, д. 32 </span>
            </div>
        </div>
    </div>
</div>
