<div class="container">
    <div class="title">
        <svg-icon src="../../../assets/icons/logo.svg"></svg-icon>
        <span>
            <div>Автотехцентр. Гарантии.</div>
            <div>Скидки постоянным клиентам.</div>
        </span>
    </div>
    <div class="menu">
        <span>Как мы работаем</span>
        <span>Услуги</span>
        <span>Контакты</span>
    </div>
    <div class="contacts">
        <div>7 (343) 361-52-26</div>
        <div>avtohelp96@bk.ru</div>
    </div>
</div>
