<div class="container" id="services">
    <div><span>Услуги</span> автосервиса</div>
    <div class="boards">
        <div>
            <div class="icon">
                <svg-icon
                    src="../../../assets/icons/monitor.svg"
                    [svgStyle]="{ 'width.px': 100, 'height.px': 100 }"
                ></svg-icon>
            </div>
            <div class="title">Диагностика</div>
            <div>
                Проводим диагностику поломки на высокоточном европейском
                оборудовании
            </div>
        </div>
        <div>
            <div class="icon">
                <svg-icon
                    src="../../../assets/icons/settings.svg"
                    [svgStyle]="{ 'width.px': 100, 'height.px': 100 }"
                ></svg-icon>
            </div>
            <div class="title">Ремонт двигателя</div>
            <div>
                Переборка автомобильного двигателя (разборка и замена деталей,
                которые пришли в негодность), так и его полный капремонт
            </div>
        </div>
        <div>
            <div class="icon">
                <svg-icon
                    src="../../../assets/icons/tool.svg"
                    [svgStyle]="{ 'width.px': 100, 'height.px': 100 }"
                ></svg-icon>
            </div>
            <div class="title">Ремонт ходовой</div>
            <div>
                Замена амортизаторов, шаровой опоры, ступичных подшипников.
            </div>
        </div>
    </div>
</div>
