<div class="container">
    <span>Ремонт автомобилей в Екатеринбурге</span>
    <div class="textContainer">
        <div class="list">
            <div>
                <div id="line"></div>
                <span>Полная диагностика</span>
            </div>
            <div>
                <div id="line"></div>
                <span>Замена комплектующих</span>
            </div>
            <div>
                <div id="line"></div>
                <span>Ремонт любой сложности</span>
            </div>
        </div>
        <div class="button">Оставить заявку</div>
    </div>
    <div class="timeAdress">
        <div>
            <svg-icon src="../../../assets/icons/clock.svg"></svg-icon>
            <span>
                <div>Понедельник - Пятница с 10:00 до 20:00</div>
                <div>Суббота с 11:00 до 17:00</div>
            </span>
        </div>
        <div>
            <svg-icon src="../../../assets/icons/map-pin.svg"></svg-icon>
            <span> г. Екатеринбург, ул. Репина, д. 32 </span>
        </div>
    </div>
    <img src="../../../assets/images/car.png" alt=" white car"/>
</div>
